.statsContainer {
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    height: 88vh;
    width: 80%;
}

.yearHeading {
    grid-row: 1;
    margin: 0 auto;
    font-weight: 500;
    font-size: xx-large;
    display: flex;
    align-items: center;
}

.statsSection {
    display: flex;
    flex-direction: row;
    gap: 2px;
    grid-row: 2/17;
}

.statsChart {
    margin-top: 14px;
}

.statsSection>div:nth-child(1) {}

.fieldset {
    border: 1px solid #000;
}

.sectionTitle {
    margin-top: 10px;
}


.savedAmount {
    /* border: 2px solid rgba(0, 0, 0, 0.63); */
    /* box-shadow: inset 4px 4px 8px rgb(0, 0, 0), */
        /* inset -4px -4px 8px rgb(0, 0, 0); */
    /* border-radius: 4px; */
    /* background: rgb(var(--color-bar)); */
    /* background: #fff; */
    padding: 8px;
    /*color: rgb(-var(--color-bar));*/
    color: #00e31e;
    width: 150px;
    font-weight: 800;
    font-size: 2.9em;
    text-align: center;
    margin: 0 auto;
    padding-left: -80px;
}

.yearSlider {
    display: flex;
    flex-direction: row;
    width: 564px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    grid-row: 21;
}

.headingLegend {
    margin: 0 auto;
    font-size: x-large;
}

.costSolar {
    font-size: small;
}

.costMonthly {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-left: 10px;
    height: 20%;
}

.costNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    width: 78px;
}

.costLabel {
    font-size: small;
    padding: 10px;
    white-space: nowrap;
}
